:root {
    --pf-primary-color: #001D08 ;
    --pf-secondary-color: #FF3D00;
    --pf-heading-color: #001D08;
    --pf-paragraph-color: #646464;
    --pf-common-black: #000;
    --pf-common-white: #fff;
    --pf-bg-color: #FCFFE7;

    --pf-offcanvas-bg-color: #0E0A24;
    --pf-theme-nblue: #001C52;
    --pf-black: black;
    --pf-: white;
    --pf-rom-color: #fbf6ef;
    --pf-grey-color: #f6f6f6;
    --pf-grey-color-2: #f6f6f6;
    --pf-grey-color-3: #f6f6f6;
    --pf-grey-color-4: #f6f6f6;
}