@use "../../utils" as *;

.rt-header {
  &-area {
    font-family: var(--pf-accent-font);
  }
  &-logo {
    padding-left: 24px;
    @media #{$xl,$xs} {
      padding-left: 0px;
    }
  }
  &-main-menu {
    & li {
      display: inline-block;
      margin-right: 26px;
      position: relative;
      &:hover {
        & > a {
          color: var(--rt-secondary-color);
        }
        & i {
          transform: rotate(180deg);
          color: var(--rt-secondary-color);
        }
        & .rt-header-sub-menu {
          opacity: 1;
          visibility: visible;
          top: 100%;
        }
      }
      & a {
        font-weight: 400;
        font-size: 16px;
        color:var(--pf-primary-color);
        padding: 25px 0px;
        display: block;
        @include d-transition;
        & i {
          font-size: 12px;
          @include d-transition;
        }
      }
    }
  }
  &-sub-menu {
    width: 300px;
    background: #ffffff;
    position: absolute;
    padding: 20px 0px;
    top: 105%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    @include d-transition;
    z-index: 999;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    & li {
      display: block;
      width: 100%;
      &:hover {
        & a {
          &::before {
            display: block;
            width: 14px;
          }
        }
      }
      & a {
        font-weight: 400;
        font-size: 16px;
        color:var(--pf-primary-color);
        padding: 5px 20px;
        display: block;
        color: var(--pf-primary-color);
        display: inline-flex;
        width: 100%;
        align-items: center;
        align-content: center;
        &::before {
          content: "";
          width: 0px;
          height: 2px;
          background: var(--pf-secondary-color);
          margin-right: 3px;
          margin-top: 3px;
          transition: all 0.3s ease-in-out;
        }
        & i {
          font-size: 12px;
        }
      }
    }
  }
}

.headersticky {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: all 0.4s ease-in-out;
  & .col-xl-2,
  & .col-xl-10 {
    margin: 0;
  }
}

// printfix working

.pf__heading {
  &-left {
    & ul {
      & li {
        list-style: none;
        display: inline-block;
        & a {
          font-size: 14px;
          text-transform: capitalize;
          color: var(--pf-common-white);
          padding: 11.5px 8px;
          display: block;
        }
      }
    }
  }
  &-middle {
    & p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 200%;
      color: #fff;
    }
    & a {
      text-decoration-skip-ink: none;
      color: var(--pf-secondary-color);
      @include d-transition;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-right {
    & a {
      padding: 11.5px 12px;
      display: inline-block;
      &:hover {
        & i {
          color: var(--pf-common-white);
        }
      }
      & i {
        color: rgba(255, 255, 255, 0.5); // #B3BCB5
        @include d-transition;
      }
    }
  }
  &-icon {
    white-space: nowrap;
    & a {
      & span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: red;
        display: grid;
        place-items: center;
      }
    }
  }
  &-offcanvas-wrapper{
    & > button {
      width: 50px;
      height: 50px;
      display: grid;
      border-radius: 50%;
      place-items: center;
    }
  }
  &-mega-menu{
    width :950px;;
    background-color: var(--pf-primary-color);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 30px 40px;
    justify-content: space-around;
    &-item{
      border: 1px solid var(--pf-secondary-color);
      border-radius: 5px;
    }
    &-thumb{
      padding: 20px;
      & img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
