@use "../utils" as *;

.w-img {
  width: 100%;
}
.m-img {
  & img {
    max-width: 100%;
  }
}

.custom-container{
  max-width: 1550px;
  width: 100%;
}

.section-space-mb{
  margin-bottom: 120px;
}
.section-space-pb{
  padding-bottom: 120px;
}
.section-space-pb-50{
  padding-bottom: 50px;
}

.section-space-margin {
  margin-top: 120px;
  margin-bottom: 120px;
  @media #{$xl,$lg,$md,$sm,$xs} {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.section-padding-py {
  padding-top: 120px;
  padding-bottom: 120px;
}

.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}

.z-index-1 {
  z-index: 1;
}

.z-index-11 {
  z-index: 11;
}

.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}
.overflow-x-visible {
  overflow-x: visible;
  overflow-y: hidden;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.br-5 {
  border-radius: 5px;
}
.br-20 {
  border-radius: 20px;
}
.br-24 {
  border-radius: 24px;
}
.br-50 {
  border-radius: 50px;
}

.text-primary-color {
  color: var(--pf-primary-color);
}
.text-secondary-color {
  color: var(--pf-secondary-color);
}
.bg-primary-color {
  background-color: var(--pf-primary-color);
}
.bg-secondary-color {
  background-color: var(--pf-secondary-color);
}
.bg-secondary-color-50 {
  background-color: var(--rt-secondary-color-50);
}
.bg-offcanvas-color {
  background-color: var(--rt-offcanvas-bg-color);
}
.bg-hero-color {
  background-color: var(--pf-bg-color);
}
.bg-hero-color-50 {
  background-color:#FDFFF2;
}

.tp-slide-transtion {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.tp-brand-slide-element {
  width: auto;
  display: inline-block;
}

.br-primary-color {
  border: 1px solid var(--rt-primary-color);
}

.hero-custom-padding{
  padding-top: 205px;
  padding-bottom: 250px;
}

.bg-discount-card-1{
  background-color: #F5F0EA;
}
.bg-discount-card-2{
  background-color: #F6F7F9;
}
.bg-discount-card-3{
  background-color: #F2F1EC;
}
.bg-product-color{
  background-color: #FAFAFA;
}
.bg-popup-color{
  background-color: #D4DDDE;
}
.bg-customer-color{
  background-color: #FFEFEB;
}