@use "../utils" as *;

.pf__section-title {
  & p {
    font-family: var(--pf-primary-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: var(--pf-secondary-color);
    margin-bottom: 10px;
  }
  & h1 {
    line-height: 66px;
    text-transform: capitalize;
    color: var(--pf-primary-color);
  }
  & span {
    font-family: var(--pf-accen-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: var(--pf-paragraph-color);
  }
}
