@use "../../utils" as *;

.pf__discount {
  &-card {
    overflow: hidden;
    padding: 34px;
    & p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 156%;
      color: var(--pf-secondary-color);
      margin-bottom: 5px;
    }
    & span {
      & img {
        transform: rotate(-20deg);
        margin-right: 0px;
        margin-top: 30px;
      }
    }
    &:hover {
      & .pf__discount-shape-2 {
        top: 0;
        right: 0;
        opacity: 1;
      }
    }
  }
  &-shape-1 {
    top: 0;
    right: 0;
  }
  &-shape-2 {
    top: -20px;
    right: 0;
    opacity: 0;
    @include d-transition;
  }
}
