@use "../../utils/" as *;

.pf__hero {
  &-shape-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: leftright 1s alternate infinite;
  }
  &-shape-2 {
    top: 40%;
    right: 10px;
    animation: updown2 .8s alternate infinite;
    animation-delay: .8s ;
  }
  &-col-wrapper-1 {
    & h1 {
      font-size: 64px;
      line-height: 86px;
    }
  }
  &-col-wrapper-2 {
    position: relative;
    height: 300px;
    & span {
      width: 300px;
      height: 370px;
      display: block;
      overflow: hidden;
      outline: 4px solid #fff;
      border-radius: 5px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      &:nth-child(1) {
        position: absolute;
        top: -140px;
        left: 0;
        transform: rotate(-20deg);
        animation: updown1 .8s alternate infinite;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: -226px;
        left: 129px;
        transform: rotate(27deg);
        animation: updown2 .8s alternate infinite;
      }
    }
  }
  &-col-wrapper-3 {
    & p {
      font-family: var(--pf-accent-font);
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
    }
  }
  &-slider-btn{
    & div{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid rgb(0, 44, 31);
      display: grid;
      place-items: center;
    }
    right: 50px;
    bottom: 60px;
    z-index: 99;
  }
}



@keyframes leftright {
  0% {
    margin-left: 20px;
  }
  100% {
    margin-right: -20px;
  }
}
@keyframes updown1 {
  0% {
    margin-bottom: -20px;
  }
  100% {
    margin-top: 20px;
  }
}
@keyframes updown2 {
  0% {
    margin-top: 20px;
  }
  100% {
    margin-bottom: -20px;
  }
}
