@use "../../utils" as *;

.pf__tes {
  &-slider {
    & .swiper-slide {
      box-shadow: rgba(0, 29, 8, 0.1) 0px 10px 15px;
      background: #fff;
    }
  }
  &-next-btn{
    font-size: 40px;
    right: 0;
    bottom: 40%;
    z-index: 99;
  }
  &-prev-btn{
    font-size: 40px;
    left: 0;
    bottom: 40%;
    z-index: 99;
  }
}
